<%= render 'layouts/error', obj: @post_image %>

<div class="container mt-3 mb-3">
 <h3>編集</h3>
  <div class="row">
    <%= attachment_image_tag @post_image, :image, size:"100x100" %>
    <p>*画像の変更はできません</p>
  </div>
 <%= form_with model: @post_image, local:true do |f| %>
   <p>本文</p>
   <%= f.text_area :introduction %>
   <p>タグ</p>
   <%= f.text_field :tag_list, value: @post_image.tag_list.join(',')%>
   <%= f.submit '更新' %>
 <% end %>
</div>