<div class="container mt-3 mb-3">
  <% if @post_image.present? %>
  <div class="row">
   <h3 class=mr-2>タグ"<%= @tag %>"に関する投稿</h3>
   <%= link_to "新規投稿する", new_post_image_path %>
  </div>
    <% @post_image.each do |post_image| %>
      <%= link_to post_image_path(post_image.id) do %>
        <%= attachment_image_tag post_image, :image, class:"post_image_thumb" %>
      <% end %>
    <% end %>
  <% else %>
  　<div class="row">
  　 <h3>投稿一覧</h3>
  　 <%= link_to "新規投稿する", new_post_image_path %>
  　</div>
      <% @post_images.each do |post_image| %>
      <%= link_to post_image_path(post_image.id) do %>
      <%= attachment_image_tag post_image, :image, size:"100x100" %>
      <% end %>
      <%= paginate @post_images %>
    <% end %>
  <% end %>
 
</div>
