<%= render 'layouts/error', obj: @post_image %>
<div class="container mt-3 mb-3">
  <h3>画像投稿フォーム</h3>
  <%= form_with model: @post_image, local:true do |f| %>
  <div class="form">
    <p>画像</p>
    <%= f.attachment_field :image %>
  </div>
  <div class="form">
    <p>本文</p>
    <%= f.text_area :introduction, placeholder:"本文を入力" %>
  </div>
  <div class="form">
    <p>タグ</p>
    <%= f.text_field :tag_list, value: @post_image.tag_list.join(','), placeholder:",で区切ってタグを入力"%>
  </div>
    <p class="mt-1"><%= f.submit '投稿' %></p>
  <% end %>
</div>