<%= render 'layouts/error', obj: @comment %>
  <% unless user_signed_in? %>
   <div class="container mt-3">
    <p>投稿の詳細は会員登録後に見れます</p>
    <p class="text-center"><%= link_to "新規会員登録はこちら", new_user_registration_path, class: "btn btn-secondary text-white" %> </p>
    <p class="text-center"><%= link_to "既に会員の方はこちらからログイン", new_user_session_path , class: "btn btn-secondary text-white"%> </p>
   </div>
  <% else %>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 col-sm-6">
         <p><%= attachment_image_tag @post_image, :image, class:"image_show" %></p>
        </div>
        <div class="col-md-6 col-sm-6">
          <p>投稿日時：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
          <p>
            投稿ユーザー：<%= link_to user_path(@post_image.user.id) do %>
            <% @post_image.user.name  %>
            <% end %>
          </p>
          <p>本文：<%= @post_image.introduction %></p>
          <p>タグ：
          <% if @tags.present? %>
            <% @tags.each do |tag| %>
              <%= link_to tag.name, post_images_path(tag: tag.name) %>
            <% end %>
          <% end %>
          </p>
          <% if @post_image.user == current_user %>
           <%= link_to "削除", post_image_path(@post_image), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %>
           <%= link_to "編集", edit_post_image_path(@post_image) %>
          <% end %>
          <div id ="post_image_<%= @post_image.id %>">
           <%= render 'favorites/favorite-btn', post_image: @post_image %>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3 mb-3">
      <p>コメント件数：<%= @post_image.comments.count %></p>
      <% @post_image.comments.each do |comment| %>
      <table>
        <th>
         <%= link_to user_path(comment.user.id) do %>
         <%= comment.user.name %>
         <% end %>
       </th>
       <th>
        <% if comment.score >= -0.5 %>
          <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% else %>
          ※不適切なコメントと判断したため非表示にしています。
        <% end %>
       </th>
       <th>感情分析スコア<%= comment.score %></th>
       <th>
         <% if comment.user == current_user %>
         <%= link_to "削除", post_image_comment_path(comment.post_image, comment), method: :delete %>
         <% end %>
       </th>
      <% end %>
      </table>
      </div>
      <div class="container">
        <%= form_with(model:[@post_image, @comment], local: true) do |f| %>
        <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力" %>
        <p><%= f.submit "送信する" %></p>
      <% end %>
      </div>
    </div>
  <% end %>
