<!DOCTYPE html>
<html>
  <head>
    <title>MEMORU</title>
    <meta charset="utf-8" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.jpg', size:"50x50") %></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              　<li class="nav-item">
                 <span class= 'fab fa-pagelines nav-link'></span><%= link_to 'マイページ', user_path(current_user.id) %>
                </li>
              　<li class="nav-item">
                 <span class= 'fas fa-chair nav-link'></span><%= link_to "家財一覧", items_path %>
                </li>
                <li class="nav-item">
                  <span class= 'fas fa-images nav-link'></span><%= link_to "投稿一覧", post_images_path %>
                </li>
                <li class="nav-item">
                  <span class= 'fas fa-users nav-link'></span><%= link_to "ユーザー一覧", users_path %>
                </li>
                <li class="nav-item">
                  <span class= 'fas fa-sign-out-alt fas fa-sign-in-alt nav-link'></span><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
                <main class="text-black-50">
              <% else %>
                <li class="nav-item">
                  <span class= 'far fa-hand-point-up nav-link'></span><%= link_to "新規会員登録", new_user_registration_path %>
                </li>
                <li class="nav-item">
                  <span class= 'fas fa-sign-in-alt nav-link'></span><%= link_to "ログイン", new_user_session_path %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class ="bg-dark text-white pt-5 pb-4">
      <div class="row">
        <div class ="col-md-4">
          <p class="ml-2">MEMORU</p>
        </div>
        <div class ="col-md-5">
          <p>©2021 Copyright kurashi-memoru.com</p>
        </div>
        <div class ="col-md-3 pull-right">
          <ul class="list-unstyled">
            <li>
              <span class= 'far fa-paper-plane text-white'></span><%= link_to 'お問い合せ', inquiry_index_path %>
            </li>
          </ul>
        </div>
      </div>
    </footer>

  </body>


</html>
